.hero {
  background-image: url('/Honeycomb/web-resources/how.jpg');
}

.hero h2 {
  font-size: 2.5em;
}

.hero h6 {
  font-family: 'Intro';
  font-size: 1em;
  font-style: oblique;
  margin-top: -0.8em;
  color: #ffdd00;
}

#contact .btn {
  position: relative;
  top: 2em;
}
